.header {
  --headerElementPaddingBlock: 10px;
  --headerOffsetTop: 44px;
  --headerBackgroundColor: transparent;

  position: fixed;
  z-index: 90;
  top: var(--headerOffsetTop);
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  font-weight: 600;
  transition-duration: var(--transition-duration);

  @include mobile {
    --headerOffsetTop: 20px;
  }

  &--background {
    --headerBackgroundColor: var(--color-dark);
    --headerOffsetTop: 24px;
    width: 98%;

    @include mobile {
      --headerOffsetTop: 5px;
    }
  }

  &__inner {
    transition-duration: var(--transition-duration);
    padding-block: 10px;
    background-color: var(--headerBackgroundColor);
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__logo {
    padding-block: var(--headerElementPaddingBlock);

    @include hover {
      color: var(--color-accent);
    }
  }

  &__menu {
    &-list {
      display: flex;
      column-gap: 40px;
    }

    &-link {
      padding-block: var(--headerElementPaddingBlock);

      @include hover {
        color: var(--color-accent);
      }
    }
  }

  &__account-button {
    padding-block: var(--headerElementPaddingBlock);

    @include hover {
      color: var(--color-accent);
    }
  }
}