@font-face {
  font-family: "Gilroy";
  src: url("../fonts/GilroyMedium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Gilroy";
  src: url("../fonts/GilroyBold.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Gilroy";
  src: url("../fonts/GilroyExtraBold.woff2") format("woff2");
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Chronicle Display";
  src: url("../fonts/ChronicleDisplaySemi.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Chronicle Display";
  src: url("../fonts/ChronicleDisplayBlack.woff2") format("woff2");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}