:root {
  --color-light: #FFFFFF;
  --color-accent: #FBD784;
  --color-dark: #0B1D26;

  --font-family-base: 'Gilroy', sans-serif;

  --container-width: 1462px;
  --container-width-large: 1760px;
  --container-padding-x: 20px;

  --transition-duration: 0.2s;
}